* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #eee;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%
}

ul {
    color: black;
}

.nav-links li {
    list-style: none;
    color: black;
}

.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.App-wrapper {
    position: relative;
    height: 45vh;
    width: 20%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    margin-bottom:15px;
}
.App-Today-wrapper {
    
    height: 45vh;
    width: 20%;
    border-radius: 20px;
    
    margin-top: 5px;
}
.App-wrapper:hover {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        cursor:pointer;
}
.App-categorie-date {
    margin-left: 3%;
    margin-top: 15%;
    position: center;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.5;
    color:black;
}

.App-Name {
    margin: 10px 0 20px 5%;
    font-weight: bold;
    color: black;
}

.App-Description {
    margin: 10px 0 20px 5%;
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.6;
    color: black;
}

.App-Image {
    border-radius: 20px 0 0 0;
    height: 20vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
}

h2 {
    margin-top: 2%;
    display: inline
}

.App-Date-Today {
    margin-left: 65%;
    font-size: 18px;
    line-height: 1.5;
    opacity: 0.6;
    text-transform: uppercase;
}
.App-Price-Description{
    display:inline;
}
.App-Price {
    font-size: 12px;
    line-height: 1.5;
    opacity: 0.6;
    float: right;
    margin-right: 2%;
    color: black;
}
.App-float{
    position:relative;
    display:inline;
    float:left;
    margin-right:2%;
}

.App-position-left{
    float: left;
    margin-right: 80%;
}
.App-position-inline{
    display:inline;
}
.App-float{
    position:relative;
    display:inline;
    float:left;
    margin-right:2%;
}
.App-position-left{
    float: left;
    margin-right: 80%;
}
.App-position-inline{
    display:inline;
}
.App-Last{
    
}
.card-img-top {
    position: relative;
    border-radius: 20px 0 0 0;
    height: 20vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
}
/*------------------------------------------------*/
/*Today*/
.Today-wrapper {
    position: relative;
    height: 50vh;
    width: 20%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    background-color:dimgrey;
    margin-top:5px;

}

    .Today-wrapper:hover {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

.Today-categorie-date {
    margin-left: 3%;
    margin-top: 15%;
    position: center;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.5;
    color: black;
}

.Today-Name {
    margin: 10px 0 20px 5%;
    font-weight: bold;
    color: black;
}

.Today-Description {
    margin: 10px 0 20px 5%;
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.6;
    color: black;
}

.Today-Image {
    position: relative;
    border-radius: 20px 0 0 0;
    height: 22vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
}
.Today-Price-Description {
    display: inline;
    margin-left:50%;
    float:right;
}
.Today-Best-App {
    float: left;
    margin: 13px 85% 20px 0;
}
.App-search-create {
    margin-top: 40px;
    float: left;
    margin: 5px;
}
.body-content{
    padding-top:15px;
}
footer{
    position:relative;
    clear:both;
}
.category-wrapper {
    height: 45px;
    width: 60%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 15px;
    text-align:center;
    color:antiquewhite;
}
    .category-wrapper:hover {
    
    opacity:.75;
    }
.category-one {
    background-image: url("https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_960_720.jpg");
}
.category-two {
    background-image: url("https://cdn.pixabay.com/photo/2015/08/28/11/27/space-911785_960_720.jpg");
}
.category-three {
    background-image: url("https://cdn.pixabay.com/photo/2015/11/04/20/59/milky-way-1023340_960_720.jpg");
}
.category-four {
    background-image: url("https://cdn.pixabay.com/photo/2015/11/04/20/59/milky-way-1023340_960_720.jpg");
}