
@model IEnumerable<Appstore.Models.Category>

<head>
    <link rel="stylesheet" href="..\..\Content\AppsStyle.css">
</head>

@{
    ViewBag.Title = "Categories";
}
<h2 style="margin-top:15px;">Categories</h2>

<br style="clear:left;">

<div style="float:left; margin:5px; margin-top:40px;">
    @using (Html.BeginForm())
    {
        <p>
            @Html.ActionLink("Create New", "Create", "Categories")
        </p>
    }

</div>
<div style="float:left; margin:5px; margin-top:40px;">
    @using (Html.BeginForm())
    {
        <p>
            @Html.TextBox("filter")
            <input class="btn" type="submit" value="Search" />
        </p>
    }
</div>

<div style="float:left; margin:5px; margin-top:40px;">
    @using (Html.BeginForm())
    {
        <p>
            <input class="btn" type="submit" value="See all" />
        </p>
    }
</div>

<br style="clear:left;">
@foreach (var item in Model)
{
    
        <h4 onclick="location.href='@Url.Action("Apps", "AppStore")'">
            <div class="category-wrapper category-one">
                <h1> @Html.DisplayFor(modelItem => item.Name) </h1>
            </div>
        </h4>
    
    
}



