<head>
    <link rel="stylesheet" href="..\Content\AppsStyle.css">
</head>
@{
    ViewBag.Title = "Games";
}
<h2>Games</h2>
<div></div>
<h4 class="App-position-inline">Top Paid Games</h4>
<select class="App-position-inline">
    <option value="FPS">FPS</option>
    <option value="Action">Action</option>
    <option value="Battle Royal">Battle Royal</option>
    <option value="Adventure">Adventure</option>
</select>

<h4>

    <div class="App-wrapper App-float">
        <img class="App-Image" src="..\Images\MW2.jpg">
        <div class="App-categorie-date">NOV 9 2009 / GAMES</div>

        <div class="App-Name">Call of duty: Modern Warfare 2</div>
        <div class="App-Description App-Price-Description">First Person Shooter</div>
        <div class="App-Price App-Price-Description">27.91$</div>
    </div>


    <div class="App-wrapper App-float">
        <img class="App-Image" src="..\Images\bf3.jpg">
        <div class="App-categorie-date">OCT 25 2011 / GAMES</div>

        <div class="App-Name">Battle Field 3</div>
        <div class="App-Description App-Price-Description">First Person Shooter</div>
        <div class="App-Price App-Price-Description">18.99$</div>
    </div>

    <div class="App-wrapper App-float">
        <img class="App-Image" src="..\Images\bo4.jpg">
        <div class="App-categorie-date">OCT 12 2019 / GAMES</div>

        <div class="App-Name">Call of duty: Black Ops 4</div>
        <div class="App-Description App-Price-Description">First Person Shooter</div>
        <div class="App-Price App-Price-Description">49.99$</div>
    </div>

    <div class="App-wrapper App-float App-Last">
        <img class="App-Image" src="..\Images\Raging_Blast_2.jpg">
        <div class="App-categorie-date">NOV 2 2010 / GAMES</div>

        <div class="App-Name">Dragon ball: Raging blast 2</div>
        <div class="App-Description App-Price-Description">Action</div>
        <div class="App-Price App-Price-Description">24.99$</div>
    </div>



</h4>

<h4 class="App-position-left">Top Free Games</h4>
<h4>
    <div class="App-wrapper App-float">
        <img class="App-Image" src="..\Images\Apex-legends.jpg">
        <div class="App-categorie-date">FEB 4 2019 / GAMES</div>

        <div class="App-Name">Apex Legends</div>
        <div class="App-Description App-Price-Description">Battle Royal</div>
        <div class="App-Price App-Price-Description">FREE</div>
    </div>
    <div class="App-wrapper App-float">
        <img class="App-Image" src="..\Images\Apex-legends.jpg">
        <div class="App-categorie-date">FEB 4 2019 / GAMES</div>

        <div class="App-Name">Apex Legends</div>
        <div class="App-Description App-Price-Description">Battle Royal</div>
        <div class="App-Price App-Price-Description">FREE</div>
    </div>
    <div class="App-wrapper App-float">
        <img class="App-Image" src="..\Images\Apex-legends.jpg">
        <div class="App-categorie-date">FEB 4 2019 / GAMES</div>

        <div class="App-Name">Apex Legends</div>
        <div class="App-Description App-Price-Description">Battle Royal</div>
        <div class="App-Price App-Price-Description">FREE</div>
    </div>
    <div class="App-wrapper App-float">
        <img class="App-Image" src="..\Images\Apex-legends.jpg">
        <div class="App-categorie-date">FEB 4 2019 / GAMES</div>

        <div class="App-Name">Apex Legends</div>
        <div class="App-Description App-Price-Description">Battle Royal</div>
        <div class="App-Price App-Price-Description">FREE</div>
    </div>

</h4>