<head>
    <link rel="stylesheet" href="..\Content\AppsStyle.css">
</head>
@{
    ViewBag.Title = "Games";
}
<h2>Games</h2>

<h4>Top Paid Games</h4>
<h4>
    <div class="App-wrapper">
        <img class="App-Image" src="..\Images\MW2.jpg">
        <div class="App-categorie-date">NOV 9 2009 / GAMES</div>

        <div class="App-Name">Call of duty: Modern Warfare 2</div>
        <div class="App-Description App-Price-Description">First Person Shooter</div>
        <div class="App-Price App-Price-Description">27.91$</div>
        <div>


</h4>

<h4>Top Free Games</h4>
<h4>
    <div class="App-wrapper">
        <img class="App-Image" src="..\Images\Apex-legends.jpg">
        <div class="App-categorie-date">FEB 4 2019 / GAMES</div>

        <div class="App-Name">Apex Legends</div>
        <div class="App-Description App-Price-Description">Battle Royal</div>
        <div class="App-Price App-Price-Description">FREE</div>
        <div>


</h4>

